@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200;1,300&display=swap');
@import url('style_menu.css');

/*===================================
    contenido de productos ofrecidos
  ===================================
*/

*{
    margin: 0;
}

.content{
    position: absolute;
    top: 192px;
    left: 0;
    width: 100%;
    /* padding: 205px 5px; */
    background: #219B7E;
}

.show{
    width: 100%;
    transition: .5s ease;
}

.show .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.show .fila .item{
    max-width: 350px;
    padding: 0px;
    height: auto;
    text-align: center;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ;
}

.show .fila .item:hover{
    box-shadow: 0 4px 16px -10px black;
}

.show .fila .item .description{
    color: black;
    font-weight: bold;
    margin: 5px;
    padding: 2px;
    font-size: 17px;
}

.show .fila .item .description-h{
    color: black;
    font-weight: bold;
    margin: 5px;
    padding: 2px;
    font-size: 13px;
}


.show .fila .item .price{
    color: #4E4484;
    font-weight: bold;
    font-size: 17px;
    
}

.show .fila .item .price .del{
    color: #4E4484;
    text-decoration: line-through;
}


.show .fila .item .content-img {
    position: relative;
}


/* imagen original */
.show .fila .item .content-img img {
   width: 310px;
   height: 410px;
   border-radius: 2%;
}
  


/*==========================
    imagen a sobre poner
  ==========================
*/
.show .fila .item .content-img .hover-img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
  
.show .fila .item .content-img:hover .hover-img{
    opacity: 1; 
}


/*==========================
    boton para producto 
  ==========================
*/

.show .fila .item .button-product {
    background-color: rgb(22, 22, 22);
    border-style: solid;
    border-radius: 5px;
    font-size: large;
    color: #fff;
    width: 100%;
    height: 10%;

    transition: ease-in-out 0.2s;
}




.show .fila .item .button-product:hover{
    background-color: #fff;
    color: black;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
    rotate: 0.5deg;
}


/* main */
.main_producto{
    height: calc(100vh - 161px);
    background: #219B7E;
}


/* prod */
.body_prod{
    background: cyan;
}
.header_prod{
    width: 100%;
    height: 161px;
    background: #ffc800;
}
.main_prod{
    width: 100%;
    height: calc(100vh - 161px);
    background: #219B7E;
}

/* footer */
.footer_prod{
    width: 100%;
    height: 150px;
    background: #dedde2;
}

.footer_producto{
    width: 100%;
    height: 150px;
}


.title_footer{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.container_horario{
    display: flex;
    width: 100%;
}

.footer_flex{
    width: 50%;
    display: flex;
    justify-content: center;
}

.container_footer{
    width: 50%;
    display: flex;
    justify-content: center;
}

.label_text{
    font-family: cursive;
}

.main_index{
    height: calc(100vh-161px);
    width: 100%;
}

.main_about{
    height: calc(100vh);
    width: 100%;
}

.main_informacion{
    height: calc(100vh);
    width: 100%;
}

.main_choco_fruta{
    height: calc(100vh);
    width: 100%;
}

/* CONTENT INDEX */

.section_mod_1 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden; /* Para que la imagen no se desborde */
}



.img_flex {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.img_mod_1 {
    width: 100%;
    height: 810px;
    opacity: 0.8; /* Ajusta la opacidad de la imagen */
}

.section_mod_2{
    width: 100%;
    height: 400px;
    background: rgb(250, 209, 5);
}

.section_mod_3{
    width: 100%;
    height: 400px;
}

.container_img{
    display: flex;
    width: 100%;
    padding: 20px;
}

.img_class_3{
    width: 56%;
    height: 160px;
}

.class_img{
    display: flex;
    justify-content: center;
    width: 25%;
}

.section_mod_4{
    width: 100%;
    height: 400px;
    background: rgb(35, 147, 136);
}


