@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200;1,300&display=swap');

*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 145px;
    background-color: white;
    background-color: #ffc800;
    box-shadow: 0 4px 16px -10px #fff;

    z-index: 1;
}

.header-content{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* logo */
.logo{
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
}

.logo b{
    color: #F3D569;
}

.menu nav{
    height: 145px;
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    display: flex;
    height: 145px;
    margin: 0px 20px;
    align-items: center;
    position: relative;
}

.menu nav ul li a{
    color: black;
    color: 300ms;
}

.menu nav ul li a:hover{
    color: white;
}


.menu-selected:before{
    content: "";
    width: 100%;
    height: 4px;
    background: #000000;
    position: absolute;
    top: 45px;
    left: 0;
}

.menu .text-menu-selected{
    color: white;
}

.footer-content{
    width: 100%;
    position: absolute;
    top: 900px;
    left: 0;
    padding: 150px 90px;
    background: #dedde2;
}

