@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200;1,300&display=swap');
@import url('style_menu.css');

/*===================================
    contenido de productos ofrecidos
  ===================================
*/

.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 205px 5px;
    background: #219B7E;
}

.show{
    width: 100%;
    transition: .5s ease;
}

.show .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.show .fila .item{
    max-width: 350px;
    padding: 0px;
    height: auto;
    text-align: center;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ;
}

.show .fila .item:hover{
    box-shadow: 0 4px 16px -10px black;
}

.show .fila .item .description{
    color: black;
    font-weight: bold;
    margin: 5px;
    padding: 2px;
    font-size: 17px;
}

.show .fila .item .description-h{
    color: black;
    font-weight: bold;
    margin: 5px;
    padding: 2px;
    font-size: 13px;
}


.show .fila .item .price{
    color: #4E4484;
    font-weight: bold;
    font-size: 17px;
    
}

.show .fila .item .price .del{
    color: #4E4484;
    text-decoration: line-through;
}


.show .fila .item .content-img {
    position: relative;
}


/* imagen original */
.show .fila .item .content-img img {
   width: 310px;
   height: 410px;
   border-radius: 2%;
}
  


/*==========================
    imagen a sobre poner
  ==========================
*/
.show .fila .item .content-img .hover-img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
  
.show .fila .item .content-img:hover .hover-img{
    opacity: 1; 
}


/*==========================
    boton para producto 
  ==========================
*/

.show .fila .item .button-product {
    background-color: rgb(22, 22, 22);
    border-style: solid;
    border-radius: 5px;
    font-size: large;
    color: #fff;
    width: 100%;
    height: 10%;

    transition: ease-in-out 0.2s;
}




.show .fila .item .button-product:hover{
    background-color: #fff;
    color: black;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
    rotate: 0.5deg;
}






